@import "../../global.scss";

.projects {
    background-color: white;
    // background-color: $EgyptianBlue;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    background-image: url('./layered-waves-haikei (4).png');
    /* Set the background size and repeat behavior if needed */
    background-size: cover;
    background-repeat: no-repeat;

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        padding-top: 30px;
        padding-bottom: 20px;
        color: $platinum;
        border-bottom: 4px solid gray;

        h2 {
            font-size: 50px;
        }
    }

    .container {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2px 10px;
        justify-content: center;
        align-items: center;
        margin-left: 5%;

        .item {
            // background-color: rgb(233, 241, 234);
            background-color: $platinum;
            width: 90%;
            height: 75%;

            border-radius: 20px;
            border: 3px solid gray;
            display: grid;
            grid-template-rows: auto 1fr auto;
            justify-items: stretch;

            color: rgb(0, 0, 0);
            position: relative;
            transition: all 1s ease;
            cursor: pointer;

            .project-content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;

                .project-title {
                    border-bottom: 2px solid black;
                    width: 90%;
                    margin-left: 5%;
                    text-align: left;
                    padding: 10px;
                    margin-bottom: 3%;
                    overflow: hidden;

                    h3 {
                        position: static;
                        font-size: 30px;
                        font-weight: 900;
                    }
                }

                .project-desc {
                    text-align: left;
                    font-size: 20px;
                    margin-left: 5%;
                    margin-right: 5%;
                    margin-bottom: 5%;
                    // overflow: hidden;


                    ul {
                        margin-left: 20px;
                        padding-left: 0;
                    }

                    li {
                        position: relative;
                        padding-left: 1.5em;
                        margin-bottom: 6px;
                    }

                    li::before {
                        content: '\2022';
                        position: absolute;
                        left: 0;
                    }
                }


                .project-image {
                    img {
                        // width: 100%;
                        // height: 100%;
                        // object-fit: cover;
                        // z-index: 1;

                        // visibility: hidden;

                    }
                }

                .project-link {
                    text-align: right;
                    align-self: flex-end;
                    margin-right: 10%;
                    overflow: hidden;


                    a {
                        text-decoration: none;
                        font-size: 20px;
                        font-weight: 900;
                        color: black;

                        // .git-logo {
                        //     width: 20px; /* Adjust the width and height according to your image size */
                        //     height: 20px;
                        //     margin-right: 5px; /* Add some spacing between the image and the text */
                        //   }
                          
                    }

                
                }

            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 1;

                visibility: hidden;

            }

            // &:hover {
            //     background-color: $mainColor;
            //     img {
            //         opacity: 0.2;
            //         z-index: 0;
            //     }
            // }
        }

    }
}