@import "../../global.scss";

.Education {
    // background-color: rgb(215, 196, 196);
    height: 100%;
    overflow-x: hidden;
    overflow-y: hid;

    background-color: #fff;
    display: flex;
    align-items: flex-start;
    // justify-content: center;
    flex-direction: column;
    // margin: 50px;
    // margin-left: 5%;
    // margin-right: 5%;
    // margin-top: 5%;
    // margin-bottom: 5%;
    padding-top: 3%;


    .container {
        width: 100%;
        // margin-bottom: 5%;
        padding-bottom: 5%;
        margin-left: 5%;
        // margin-bottom: 5%;


        .header-edu {
            display: inline-block;
            // background-color: cadetblue;
            // background-color: $secondaryColor;
            background-color: #fff;
            font-size: 20px;
            height: 70px;
            width: 500px;
            border-bottom: 2px solid #e40a0a;
            object-fit: fill;
        }

        .first-edu {
            // background-color: #e40a0a;
            background-color: #f7f4fc;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;
            width: 80%;
            margin-top: 35px;
            // margin-left: 35px;
            // margin-right: 35px;
            margin-left: 5%;
            margin-right: 5%;
            border-radius: 30px;
            border: 2px solid #c5cbe0;


            .first-edu-logo {
                // background-color: chocolate;
                // background-color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                border-radius: 40px;
                width: 30%;
                // flex: 0 0 30%;
                /* Adjust the width as needed */
                margin-bottom: 20px;

                .uga-logo {
                    margin-top: 20px;
                    margin-bottom: 10px;
                    width: 40%;
                }

                .uga-title {
                    font-size: 50px;
                    font-weight: 500;
                }
            }

            .first-edu-content {
                // flex: 0 0 65%;
                /* Adjust the width as needed */

                // margin: 50px;
                margin-right: 4%;
                padding: 2%;
                // background-color: #f7f4fc;
                width: 50%;

                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex: 0 1 auto;
                border-radius: 30px;

                .degree {
                    h3 {
                        font-size: 30px;
                        margin-bottom: 10px;
                        font-weight: 800;
                        margin-left: 10px;
                    }
                }

                .first-edu-name {
                    font-size: 25px;
                    margin-bottom: 10px;
                    border-bottom: 2px solid black;
                }

                .duration {
                    display: flex;
                    justify-content: space-between;
                    font-size: 20px;
                    font-style: oblique;
                    margin-bottom: 30px;
                    margin-right: 10px;
                }

                .content {
                    font-size: 25px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;



                    .gpa {
                        font-size: 25px;
                        margin-bottom: 10px;

                        ul {
                            // list-style-type: circle; 
                        }

                        li::before {
                            content: "•"; // Custom bullet point character
                            margin-right: 5px; // Adjust the spacing between bullet point and text
                        }
                    }

                    .relevant-coursework {
                        font-size: 25px;
                        margin-bottom: 10px;

                        li::before {
                            content: "•";
                            margin-right: 5px;
                        }
                    }

                    .honors {
                        font-size: 25px;
                        margin-bottom: 10px;

                        li::before {
                            content: "•";
                            margin-right: 5px;
                        }
                    }
                }
            }
        }


        .second-edu {
            // background-color: #e40a0a;
            background-color: #e1eaf9;
            // background-color: #397aff;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;
            width: 80%;
            margin-top: 35px;
            // margin-left: 35px;
            // margin-right: 35px;
            margin-left: 5%;
            margin-right: 5%;
            border-radius: 30px;
            border: 2px solid #c5cbe0;


            .second-edu-logo {
                // background-color: chocolate;
                // background-color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                border-radius: 40px;
                width: 30%;
                // flex: 0 0 30%;
                /* Adjust the width as needed */
                margin-bottom: 20px;

                .gsu-logo {
                    margin-top: 20px;
                    margin-bottom: 10px;
                    width: 90%;
                }

                .uga-title {
                    font-size: 50px;
                    font-weight: 500;
                }
            }

            .second-edu-content {
                // flex: 0 0 65%;
                /* Adjust the width as needed */

                // margin: 50px;
                margin-right: 4%;
                padding: 2%;
                // background-color: #f7f4fc;
                width: 50%;

                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex: 0 1 auto;
                border-radius: 30px;

                .second-edu-name {
                    font-size: 25px;
                    margin-bottom: 10px;
                    border-bottom: 2px solid black;
                }

                .duration {
                    display: flex;
                    justify-content: space-between;
                    font-size: 20px;
                    font-style: oblique;
                    margin-bottom: 30px;
                    margin-right: 10px;
                }

                .content {
                    font-size: 25px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;



                    .gpa {
                        font-size: 25px;
                        margin-bottom: 10px;

                        ul {
                            // list-style-type: circle; 
                        }

                        li::before {
                            content: "•"; // Custom bullet point character
                            margin-right: 5px; // Adjust the spacing between bullet point and text
                        }
                    }

                    .relevant-coursework {
                        font-size: 25px;
                        margin-bottom: 10px;

                        li::before {
                            content: "•";
                            margin-right: 5px;
                        }
                    }

                    .honors {
                        font-size: 25px;
                        margin-bottom: 10px;

                        li::before {
                            content: "•";
                            margin-right: 5px;
                        }
                    }
                }
            }
        }

    }
}