@import "../../global.scss";


.portfolioList {
    font-size: 12px;
    margin-right: 50px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;

    @include mobile {
        margin-right: 20px;
        margin: 10px 0;
        flex-wrap: wrap;
        justify-content: center;
    }

    &.active {
        background-color: white;
        color: $mainColor;
    }
}
