@import "../../global.scss";

.topbar {
    width: 100%;
    height: 70px;
    position: fixed;
    // background-color: white;
    // background-color: $secondaryColor;    
    background-color: $EerieBlack;
    // color: $mainColor;
    color: white;
    top: 0;
    z-index: 3;
    transition: all 0.3s ease-in;


    .wrapper {
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        // flex-direction: row;

        .left {
            display: flex;
            align-items: center;
            // justify-content: right;

            .logo {
                font-size: 40px;
                font-family: 700;
                text-decoration: none;
                color: inherit;
                margin-right: 50px;
                // flex: 1;
                // text-align: right;
                // display: flex;
                // justify-content: right;
                // align-items: flex-end;
            }

            .itemContainer {
                display: flex;
                align-items: center;
                margin-left: 30px;

                @include mobile {
                    display: none;
                }

                .icon {
                    font-size: 20px;
                    margin-right: 10px;
                }

                span {
                    font-size: 20px;
                    font-weight: 500;
                }
            }
        }

        .name-title-container {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }


        .right {
            display: flex;
            align-items: center;
            color: white;

            .hamburger {
                width: 40px;
                height: 30px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                // background-color: black;
                cursor: pointer;

                span {
                    width: 100%;
                    height: 5px;
                    background-color: white;
                    // background-color: $mainColor;
                    transform-origin: left;
                    transition: all 0.3s ease-in;
                }
            }
        }
    }

    &.active {
        background-color: $mainColor;
        color: white;

        .hamburger {
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;

            span {


                &:first-child {
                    background-color: rgb(255, 157, 0);
                    height: 5px;
                }

                &:nth-child(2) {
                    background-color: rgb(70, 70, 208);
                    // transform: rotate(45);
                    // width: 100%;
                    // height: 100%;
                    // border-radius: 50%; // Adds border-radius to create a circle
                    // transform: scale(.5); // Adjust the scale value to make 
                    width: 40%;
                    height: 40%;
                    border-radius: 50%;
                }

                &:last-child {
                    background-color: green;
                    height: 5px;

                }

            }
        }
    }
}